

 
<a ui-sref="articulo-gamedev-parte1"> Parte 1</a> <br />

<a ui-sref="articulo-gamedev-parte2"> Parte 2</a> <br />

<a ui-sref="articulo-gamedev-parte3"> Parte 3</a>
<ul> <!-- Unordered List tag -->
    <li><a ui-sref="articulo-gamedev-parte3">Instalacion</a></li>
    <li><a ui-sref="articulo-gamedev-parte3.javapoo">Java POO</a></li>
    <li><a ng-click="scrollTo('extra')">Extras</a></li>
    <li><a ng-click="scrollTo('bastionado')">Fortificacion</a></li>
    <li><a ng-click="scrollTo('servidores')">Servidores</a></li>         
</ul> <!-- Unordered list tag -->



	
