.clearboth { clear: both; }

.spacer
{
float: left;
width: 3%;
}

img
{
  display:inline;
  margin:0px;
  border:2px solid #000000;
  border-color: #684568;
  border-radius:15px;
}

#wrapper
{
	margin:0;
	border:0;
	padding:0;
}

#logo{
    width:100%;
    height: 141px;
    background:url("../img/cabecera.png") no-repeat scroll center top;
    margin:0;
    border:0;
    padding:0;
}


#header {
    width:100%; /* Takes 100% width of wrapper's width */
    height:100%; 
    border-radius:15px;

}

#col1
{
	width:48%;
    background-color:white;
    float:left; 
}

#col2
{
	width:48%;
    background-color:white;
    margin-left: 1%;
    float:right; 
}

#rowcol1
{
	
	margin-top: 10px;	
	/*background: url(../img/back_cuadro2.jpg) right top no-repeat;*/
	/*background-image: -moz-linear-gradient(top right,  #E6ECEC 0%, #FFFFFF 80%);
	background-image: -webkit-linear-gradient(top right,  #E6ECEC 0%, #FFFFFF 80%);
	background-image: linear-gradient(top right,  #E6ECEC 0%, #FFFFFF 80%);*/
}

#rowcol1alt
{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	background-color: #ddd;
	border-radius:15px;
}

#rowcol2
{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	background-color: #bbb;
	border-radius:15px;
}

#rowcol2alt
{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	/*background-color: #ddd;*/
	background-image: -moz-linear-gradient(top right,  #E6ECEC 20%, #FFFFFF 60%);
	background-image: -webkit-linear-gradient(top right,  #E6ECEC 0%, #FFFFFF 80%);
	background-image: linear-gradient(top right,  #E6ECEC 0%, #FFFFFF 80%);
	border-radius:15px;
}

#footer
{
	clear: both;
	padding: 7px 0 5px 0;
	font-size: 10px;
	color: #fff;
	text-align: center;
	background: #fff url(../img/fd_pie.jpg) no-repeat center bottom;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
{
margin-left: 7px;
margin-right: 7px;


}

h1, h2, h3, h4, h5, h6
{
margin-top: 5px;
margin-bottom: 0;
}

body
{
	font-family: 'TelefonicaTextRegular',Arial,Helvetica,sans-serif;
	margin:0;
	border:0;
	padding:0;

}

body a:link {text-decoration:none;}

h1+p, h2+p, h3+p, h4+p { margin-top: .2em; }

.list {
	margin:0 auto;
	padding-top:20px;
	max-width:500px;
	min-height:100%;
	border-top:10px solid #ECEEF1;
	border-bottom:10px solid #ECEEF1;
	color:#61666c;
	font-weight:400;
	font-size:1em;
	font-family:'Open Sans', sans-serif;
	line-height:2em;
}

div.list a:link {text-decoration:none;}

.block {
	font-size:.875em;
	margin:20px 0;
	padding:20px;
	color:#9099A3;
}

div.list img
{

  display:inline;
  margin:0px;
  border:0px solid #000000;
  border-color: #684568;
  border-radius:0px;
}

div.list table {
	width:100%;
	border-collapse:collapse;
	font-size:.875em;
}
div.list tr {
	outline:0;
	border:0;
}
div.list tr:hover td {
	background:#f6f6f6;
}
div.list th {
	text-align:left;
	font-size:.75em;
	padding-right:20px;
}
/* 2nd Column: Filename */
div.list th + th {
	width:65%;
}
/* 3rd Column: Last Modified */
div.list th + th + th {
}
/* 4th Column: Size */
div.list th + th + th + th {
	width:5%;
}
div.list tr td:first-of-type {
	padding-left:10px;
	padding-right:10px;
}
div.list td {
	padding:5px 0;
	outline:0;
	border:0;
	border-bottom:1px solid #edf1f5;
	vertical-align:middle;
	text-align:left;
	-webkit-transition:background 300ms ease;
	   -moz-transition:background 300ms ease;
	    -ms-transition:background 300ms ease;
	     -o-transition:background 300ms ease;
	        transition:background 300ms ease;
}
div.list td a{
	display: block;
}
div.list tr.parent a {
	color:#9099A3;
}
	.parent a:hover {
		color:#2281d0;
	}
